/* Common */

:root{
    --main-color:#b91547;
}

body{
    color: #fff;
    background-color: var(--main-color);
}

.container{
    color: var(--main-color);
    background-color: #fff;
}

.comandi input{
    color: var(--main-color);
}

/*/ Common */
