/* Common */

:root {
    --main-color: #b91547;
}

body {
    color: #fff;
    background-color: var(--main-color);
}

.container {
    color: var(--main-color);
}

.input input,
.input select {
    border-color: var(--main-color);
}

.comandi input {
    color: var(--main-color);
    border-color: var(--main-color);
    border-radius: .3125rem;
}

/*/ Common */